.forumL {
	width: 335px;
	height: 490px;
	position: relative;
}

.forumL .flTop {
	font-weight: 600;
	margin-bottom: 20px;
	font-size: 20px;
	line-height: 44px;
	margin: 11px 0;
}

.forumL .flTitle {
	margin: 15px 0 10px;
	line-height: 11px;
}

.forumL .flTitle h4 {
	display: inline;
}

.forumL .flTitle h4 a {
	font-size: 13px;
	font-weight: 600;
}

.forumL .flDesc>div:first-child{
	width:85%;
	border-bottom: 1px solid #E1E1E1;
	height: 30px;
}

.forumL .flDesc>div,.forumL .flLike {
	float: left;
}

.forumL .flTag {
	padding-left: 20px;

}

.forumL .flLike {
	margin-top: 5px;
	width: 15%;
	border:1px solid #E1E1E1;
	text-align: center;
	height: 25px;
}
.forumL .fa-thumbs-up{
	color:#CCC;
}