.slideshow-box{
	width:100%;
	background:#F6DDDD;
			z-index:-2 !important;
}
#myCarousel{
	max-width:1170px;
	margin:auto;
	overflow:hidden;
		z-index:0 !important;
}
.carousel-control.left{
	background-image:linear-gradient(to right,rgba(246,221,221,1) 0,rgba(246,221,221,.0001) 100%) !important;
	opacity:1 !important;
}
.carousel-control.right{
	background-image:linear-gradient(to right,rgba(246,221,221,.0001) 0,rgba(246,221,221,1) 100%) !important;
	opacity:1 !important;
}
#myCarousel img{
	width:100%;
}