<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd 
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-4.2.xsd 
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd 
        http://www.springframework.org/schema/task 
        http://www.springframework.org/schema/task/spring-task-4.2.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">


	<!-- 启用注解扫描 -->
	<context:annotation-config></context:annotation-config>

	<!-- 启用组件扫描 -->
	<context:component-scan base-package="com.o3gene"></context:component-scan>

	<!-- 加载配置文件 -->
	<context:property-placeholder location="classpath:db.properties" />
	<!-- 配置数据源 -->
	<bean id="myDataSorce" class="com.alibaba.druid.pool.DruidDataSource">
		<property name="driverClassName" value="${driver}" />
		<property name="url" value="${url}" />
		<property name="username" value="${user}" />
		<property name="password" value="${password}" />
	</bean>

	<!-- 初始化sqlSessionFactory -->
	<bean id="mySqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="myDataSorce" />
		<property name="mapperLocations" value="classpath:mapper/*.xml" />
	</bean>

	<!-- mybatis接口扫描 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.o3gene.dao" />
		<property name="sqlSessionFactoryBeanName" value="mySqlSessionFactory" />
	</bean>

	<!-- 翻转Aop类 -->
	<!-- <bean id="aaoopp" class="com.o3gene.service.impl.Aop"></bean>
	<aop:config>
		<aop:pointcut id="loggerCutpoint"
			expression="execution(* com.eduask.service.MyService.*(..)) " />
		<aop:aspect id="logAspect" ref="aaoopp">
			<aop:before method="before" pointcut-ref="loggerCutpoint" />
			<aop:after-returning method="afterreturning"
				pointcut-ref="loggerCutpoint" />
			<aop:around method="arouds" pointcut-ref="loggerCutpoint" />
			<aop:after method="after" pointcut-ref="loggerCutpoint" />
		</aop:aspect>
	</aop:config> -->

</beans>