<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.o3gene.dao.MidDivHtmlMapper">
  <resultMap id="BaseResultMap" type="com.o3gene.beans.MidDivHtmlKey">
    <id column="div_id" jdbcType="INTEGER" property="divId" />
    <id column="html_id" jdbcType="INTEGER" property="htmlId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.o3gene.beans.MidDivHtmlKey">
    delete from mid_div_html
    where div_id = #{divId,jdbcType=INTEGER}
      and html_id = #{htmlId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.o3gene.beans.MidDivHtmlKey">
    insert into mid_div_html (div_id, html_id)
    values (#{divId,jdbcType=INTEGER}, #{htmlId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.o3gene.beans.MidDivHtmlKey">
    insert into mid_div_html
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="divId != null">
        div_id,
      </if>
      <if test="htmlId != null">
        html_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="divId != null">
        #{divId,jdbcType=INTEGER},
      </if>
      <if test="htmlId != null">
        #{htmlId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>