<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.o3gene.dao.MidWorkManagerMapper">
  <resultMap id="BaseResultMap" type="com.o3gene.beans.MidWorkManagerKey">
    <id column="work_order_id" jdbcType="INTEGER" property="workOrderId" />
    <id column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.o3gene.beans.MidWorkManagerKey">
    delete from mid_work_manager
    where work_order_id = #{workOrderId,jdbcType=INTEGER}
      and user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.o3gene.beans.MidWorkManagerKey">
    insert into mid_work_manager (work_order_id, user_id)
    values (#{workOrderId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.o3gene.beans.MidWorkManagerKey">
    insert into mid_work_manager
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="workOrderId != null">
        work_order_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="workOrderId != null">
        #{workOrderId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>